In [466]:
import plotly
import plotly.graph_objs as go
import plotly.plotly as py
import pandas as pd
import csv
import matplotlib

In [515]:
df = pd.read_csv('C:\\Users\\jorda\\Downloads\\brfss2014.csv', encoding = 'cp1252')
df

,Unnamed: 0,x.state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,x.psu,...,x.fobtfs,x.crcrec,x.aidtst3,x.impeduc,x.impmrtl,x.imphome,rcsbrac1,rcsrace1,rchisla1,rcsbirth
0,1,1,1,1172014,1,17,2014,1100,2014000001,2014000001,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
1,2,1,1,1072014,1,7,2014,1100,2014000002,2014000002,...,2.0,2.0,2.0,4,1,1,NaN,NaN,NaN,NaN
2,3,1,1,1092014,1,9,2014,1100,2014000003,2014000003,...,2.0,2.0,2.0,6,1,1,NaN,NaN,NaN,NaN
3,4,1,1,1072014,1,7,2014,1100,2014000004,2014000004,...,2.0,1.0,2.0,6,3,1,NaN,NaN,NaN,NaN
4,5,1,1,1162014,1,16,2014,1100,2014000005,2014000005,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
5,6,1,1,1022014,1,2,2014,1100,2014000006,2014000006,...,NaN,NaN,2.0,6,1,1,NaN,NaN,NaN,NaN
6,7,1,1,1062014,1,6,2014,1100,2014000007,2014000007,...,2.0,1.0,1.0,6,1,1,NaN,NaN,NaN,NaN
7,8,1,1,1112014,1,11,2014,1100,2014000008,2014000008,...,2.0,2.0,1.0,4,2,1,NaN,NaN,NaN,NaN
8,9,1,1,1022014,1,2,2014,1100,2014000009,2014000009,...,2.0,2.0,2.0,3,1,1,NaN,NaN,NaN,NaN
9,10,1,1,1082014,1,8,2014,1100,2014000010,2014000010,...,NaN,NaN,2.0,5,1,1,NaN,NaN,NaN,NaN
10,11,1,1,1072014,1,7,2014,1100,2014000011,2014000011,...,NaN,NaN,2.0,4,1,1,NaN,NaN,NaN,NaN
11,12,1,1,1022014,1,2,2014,1100,2014000012,2014000012,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
12,13,1,1,1132014,1,13,2014,1100,2014000013,2014000013,...,NaN,NaN,2.0,6,1,1,NaN,NaN,NaN,NaN
13,14,1,1,1042014,1,4,2014,1100,2014000014,2014000014,...,2.0,1.0,2.0,6,2,3,NaN,NaN,NaN,NaN
14,15,1,1,1022014,1,2,2014,1100,2014000015,2014000015,...,2.0,1.0,2.0,5,3,1,NaN,NaN,NaN,NaN
15,16,1,1,1062014,1,6,2014,1100,2014000016,2014000016,...,NaN,NaN,2.0,5,3,1,NaN,NaN,NaN,NaN
16,17,1,1,1072014,1,7,2014,1100,2014000017,2014000017,...,NaN,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
17,18,1,1,1072014,1,7,2014,1100,2014000018,2014000018,...,2.0,NaN,2.0,5,3,2,NaN,NaN,NaN,NaN
18,19,1,1,1042014,1,4,2014,1100,2014000019,2014000019,...,2.0,2.0,2.0,5,1,1,NaN,NaN,NaN,NaN
19,20,1,1,1082014,1,8,2014,1100,2014000020,2014000020,...,NaN,1.0,2.0,3,4,2,NaN,NaN,NaN,NaN
20,21,1,1,1092014,1,9,2014,1200,2014000021,2014000021,...,NaN,NaN,NaN,2,2,1,NaN,NaN,NaN,NaN
21,22,1,1,1032014,1,3,2014,1100,2014000022,2014000022,...,2.0,2.0,2.0,6,4,1,NaN,NaN,NaN,NaN
22,23,1,1,1132014,1,13,2014,1100,2014000023,2014000023,...,NaN,NaN,1.0,5,2,1,NaN,NaN,NaN,NaN
23,24,1,1,1152014,1,15,2014,1100,2014000024,2014000024,...,2.0,1.0,1.0,4,1,1,NaN,NaN,NaN,NaN
24,25,1,1,1072014,1,7,2014,1100,2014000025,2014000025,...,NaN,NaN,1.0,5,2,1,NaN,NaN,NaN,NaN
25,26,1,1,1142014,1,14,2014,1100,2014000026,2014000026,...,NaN,NaN,2.0,2,1,1,NaN,NaN,NaN,NaN
26,27,1,1,1112014,1,11,2014,1100,2014000027,2014000027,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
27,28,1,1,1082014,1,8,2014,1100,2014000028,2014000028,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
28,29,1,1,1072014,1,7,2014,1100,2014000029,2014000029,...,NaN,NaN,2.0,4,3,2,NaN,NaN,NaN,NaN
29,30,1,1,1142014,1,14,2014,1100,2014000030,2014000030,...,2.0,1.0,9.0,6,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464634,464635,72,11,12102014,12,10,2014,1100,2014005959,2014005959,...,2.0,2.0,1.0,6,2,1,NaN,NaN,NaN,NaN
464635,464636,72,11,12132014,12,13,2014,1100,2014005960,2014005960,...,NaN,NaN,1.0,5,5,1,NaN,NaN,NaN,NaN
464636,464637,72,11,12112014,12,11,2014,1100,2014005961,2014005961,...,2.0,2.0,2.0,2,1,1,NaN,NaN,NaN,NaN
464637,464638,72,11,12142014,12,14,2014,1100,2014005962,2014005962,...,NaN,NaN,1.0,5,1,2,NaN,NaN,NaN,NaN
464638,464639,72,11,12102014,12,10,2014,1100,2014005963,2014005963,...,2.0,1.0,2.0,6,2,1,NaN,NaN,NaN,NaN
464639,464640,72,11,12122014,12,12,2014,1100,2014005964,2014005964,...,NaN,NaN,1.0,5,1,1,NaN,NaN,NaN,NaN
464640,464641,72,11,12122014,12,12,2014,1100,2014005965,2014005965,...,NaN,NaN,2.0,5,5,1,NaN,NaN,NaN,NaN
464641,464642,72,11,12102014,12,10,2014,1100,2014005966,2014005966,...,2.0,1.0,1.0,4,1,1,NaN,NaN,NaN,NaN
464642,464643,72,11,12142014,12,14,2014,1100,2014005967,2014005967,...,NaN,NaN,2.0,2,1,1,NaN,NaN,NaN,NaN
464643,464644,72,11,12152014,12,15,2014,1200,2014005968,2014005968,...,NaN,NaN,NaN,4,1,2,NaN,NaN,NaN,NaN
464644,464645,72,11,12132014,12,13,2014,1100,2014005969,2014005969,...,2.0,2.0,1.0,4,1,1,NaN,NaN,NaN,NaN
464645,464646,72,11,12102014,12,10,2014,1100,2014005970,2014005970,...,NaN,NaN,2.0,4,2,3,NaN,NaN,NaN,NaN
464646,464647,72,11,12122014,12,12,2014,1100,2014005971,2014005971,...,NaN,NaN,2.0,5,5,2,NaN,NaN,NaN,NaN
464647,464648,72,11,12152014,12,15,2014,1100,2014005972,2014005972,...,NaN,NaN,2.0,2,3,2,NaN,NaN,NaN,NaN
464648,464649,72,11,12152014,12,15,2014,1200,2014005973,2014005973,...,NaN,NaN,NaN,5,5,1,NaN,NaN,NaN,NaN
464649,464650,72,11,12152014,12,15,2014,1100,2014005974,2014005974,...,NaN,NaN,1.0,6,1,1,NaN,NaN,NaN,NaN
464650,464651,72,11,12102014,12,10,2014,1100,2014005975,2014005975,...,2.0,2.0,2.0,5,1,1,NaN,NaN,NaN,NaN
464651,464652,72,11,12152014,12,15,2014,1100,2014005976,2014005976,...,NaN,NaN,1.0,5,1,1,NaN,NaN,NaN,NaN
464652,464653,72,11,12112014,12,11,2014,1100,2014005977,2014005977,...,NaN,NaN,2.0,5,5,3,NaN,NaN,NaN,NaN
464653,464654,72,11,12162014,12,16,2014,1100,2014005978,2014005978,...,2.0,1.0,1.0,6,1,1,NaN,NaN,NaN,NaN
464654,464655,72,11,12152014,12,15,2014,1100,2014005979,2014005979,...,2.0,2.0,2.0,5,3,1,NaN,NaN,NaN,NaN
464655,464656,72,11,12122014,12,12,2014,1100,2014005980,2014005980,...,2.0,2.0,2.0,4,1,1,NaN,NaN,NaN,NaN
464656,464657,72,11,12162014,12,16,2014,1100,2014005981,2014005981,...,2.0,1.0,2.0,6,1,1,NaN,NaN,NaN,NaN
464657,464658,72,11,12102014,12,10,2014,1100,2014005982,2014005982,...,NaN,NaN,2.0,4,2,2,NaN,NaN,NaN,NaN
464658,464659,72,11,12102014,12,10,2014,1100,2014005983,2014005983,...,2.0,1.0,2.0,5,1,1,NaN,NaN,NaN,NaN
464659,464660,72,11,12112014,12,11,2014,1100,2014005984,2014005984,...,NaN,NaN,2.0,4,1,1,NaN,NaN,NaN,NaN
464660,464661,72,11,12102014,12,10,2014,1100,2014005985,2014005985,...,NaN,NaN,2.0,6,2,1,NaN,NaN,NaN,NaN
464661,464662,72,11,12152014,12,15,2014,1100,2014005986,2014005986,...,2.0,2.0,1.0,5,1,2,NaN,NaN,NaN,NaN
464662,464663,72,11,12132014,12,13,2014,1100,2014005987,2014005987,...,NaN,NaN,1.0,4,1,1,NaN,NaN,NaN,NaN
464663,464664,72,11,12102014,12,10,2014,1100,2014005988,2014005988,...,NaN,NaN,1.0,6,6,1,NaN,NaN,NaN,NaN

In [468]:
states = df['x.state']
col = 'x.state'
findN =  range(1,57)
findN = list(findN) + [66,72]
findN.remove(3)
findN.remove(7)
findN.remove(14)
findN.remove(43)
findN.remove(52)
replaceN = ["AL","AK","AZ","AR","CA","CO","CT","DE","","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND", "OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","",""]
df[col] = df[col].replace(findN, replaceN)

In [469]:
healthstat = df['physhlth']
colm = 'physhlth'
findNum = [88,77,99]
replaceNum =  [0,10,20] #[0,10,20]
df[colm] = df[colm].replace(findNum, replaceNum)
groupby_sum1 = df.groupby(['x.state']).mean()[['physhlth']]

In [470]:
mental = df ['menthlth']
colmm = 'menthlth'
findNumb = [88,77,99]
replaceNumb = [0,10,20]#[0,10,20]
df[colmm] = df[colmm].replace(findNumb, replaceNumb)
groupby_sum = df.groupby(['x.state']).mean()[['menthlth']]

In [471]:
sleep = df['sleptim1']
colmmm = 'sleptim1'
findNumbe = [77,99]
replaceNumbe = [7,7]
df[colmmm] = df[colmmm].replace(findNumbe, replaceNumbe)
groupby_sum2 = df.groupby(['x.state']).mean()[['sleptim1']]

In [514]:
health = df['genhlth']
colhealth = 'genhlth'
Numbhlth = [7,9]
Replacehlth = [None, None]
df[colhealth] = df[colhealth].replace(Numbhlth, Replacehlth)
groupby_sumhlth = df.groupby(['x.state']).mean()[['genhlth']]

In [473]:
sclll = [
    [0.0, 'rgb(242,240,247)'],
    [0.1, 'rgb(230,230,241)'],
    [0.2, 'rgb(218,218,235)'],
    [0.3, 'rgb(204,203,207)'],
    [0.4, 'rgb(188,189,220)'],
    [0.5, 'rgb(172,170,210)'],
    [0.6, 'rgb(158,154,200)'],
    [0.7, 'rgb(137,130,179)'],
    [0.8, 'rgb(117,107,177)'],
    [0.9, 'rgb(102,78,160)'],
    [1.0, 'rgb(84,39,143)']
]

In [474]:
scll = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

In [475]:
scl = [
    [0.0, 'rgb(240,248,255)'],
    [0.1, 'rgb(176,224,230)'],
    [0.2, 'rgb(135,206,235)'],
    [0.3, 'rgb(135,206,250)'],
    [0.4, 'rgb(0,191,255)'],
    [0.5, 'rgb(30,144,255)'],
    [0.6, 'rgb(65,105,225)'],
    [0.7, 'rgb(0,0,255)'],
    [0.8, 'rgb(0,0,205)'],
    [0.9, 'rgb(0,0,139)'],
    [1.0, 'rgb(0,0,128)']
]

In [517]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')


data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = groupby_sum1.index, #df[col],
    z = groupby_sum1,
    locationmode = 'USA-states',
    #text = df['physhlth'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        tickprefix = 'Days: ',
        title = "Physical Health")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Average Number Of Physically Poor Days per Month by State in 2014<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jordanvtskier/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [477]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')


data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = groupby_sumhlth.index, #df[col],
    z = groupby_sumhlth,
    locationmode = 'USA-states',
    #text = df['physhlth'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "General Health")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Self Rated Health from Excellent (1) to Poor (5) by State in 2014<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jordanvtskier/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [478]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')


data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = groupby_sum.index, #df[col],
    z = groupby_sum,
    locationmode = 'USA-states',
    #text = df['physhlth'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Mental Health")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Average Number Of Mentally Poor Days per Month by State in 2014<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jordanvtskier/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [479]:
inscl = [
    [0.0, 'rgb(0,0,128)'],
    [0.1, 'rgb(0,0,139)'],
    [0.2, 'rgb(0,0,205)'],
    [0.3, 'rgb(0,0,255)'],
    [0.4, 'rgb(65,105,225)'],
    [0.5, 'rgb(30,144,255)'],
    [0.6, 'rgb(0,191,255)'],
    [0.7, 'rgb(135,206,250)'],
    [0.8, 'rgb(135,206,235)'],
    [0.9, 'rgb(176,224,230)'],
    [1.0, 'rgb(240,248,255)']
]

In [480]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')


data = [go.Choropleth(
    colorscale = scal,
    autocolorscale = False,
    locations = groupby_sum2.index, #df[col],
    z = groupby_sum2,
    locationmode = 'USA-states',
    #text = df['physhlth'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Hours of Sleep")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Average Hours of Sleep per Night by State in 2014<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jordanvtskier/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [487]:
#import warnings
#warnings.filterwarnings('ignore')

dff = df.loc[(df['x.age80'] >= 24) & (df['x.age80'] <= 50)]


nokids = dff.loc[dff['children'] == 88]
healthzero = nokids['menthlth']
colzero = 'menthlth'
findNumzero = [88,77,99]
replaceNumzero =  [0,10,10] #[0,10,20]
nokids[colzero] = nokids[colzero].replace(findNumzero, replaceNumzero)

onekids = dff.loc[dff['children'] == 1]
healthone = onekids['menthlth']
colone = 'menthlth'
findNumone = [88,77,99]
replaceNumone =  [0,10,10] #[0,10,20]
onekids[colone] = onekids[colone].replace(findNumone, replaceNumone)

twokids = dff.loc[dff['children'] == 2]
healthtwo = twokids['menthlth']
coltwo = 'menthlth'
findNumtwo = [88,77,99]
replaceNumtwo =  [0,10,10] #[0,10,20]
twokids[coltwo] = twokids[coltwo].replace(findNumtwo, replaceNumtwo)

threekids = dff.loc[dff['children'] == 3]
healththree = threekids['menthlth']
colthree = 'menthlth'
findNumthree = [88,77,99]
replaceNumthree =  [0,10,10] #[0,10,20]
threekids[colthree] = threekids[colthree].replace(findNumthree, replaceNumthree)

threekidss = dff.loc[dff['children'] == 4]
healththreee = threekidss['menthlth']
colthreee = 'menthlth'
findNumthreee = [88,77,99]
replaceNumthreee =  [0,10,10] #[0,10,20]
threekidss[colthreee] = threekidss[colthreee].replace(findNumthreee, replaceNumthreee)

threekidsss = dff.loc[dff['children'] == 5]
healththreeee = threekidsss['menthlth']
colthreeee = 'menthlth'
findNumthreeee = [88,77,99]
replaceNumthreeee =  [0,10,10] #[0,10,20]
threekidsss[colthreeee] = threekidsss[colthreeee].replace(findNumthreeee, replaceNumthreeee)

threekidssss = dff.loc[dff['children'] == 6]
healththreeeee = threekidssss['menthlth']
colthreeeee = 'menthlth'
findNumthreeeee = [88,77,99]
replaceNumthreeeee =  [0,10,10] #[0,10,20]
threekidssss[colthreeeee] = threekidssss[colthreeeee].replace(findNumthreeeee, replaceNumthreeeee)

zero = onekids[colone].mean()
one = onekids[colone].mean()
two = twokids[coltwo].mean()
three = threekids[colthree].mean()
four = threekidss[colthreee].mean()
five = threekidsss[colthreeee].mean()
six = threekidssss[colthreeeee].mean()
threekidssss[colthreeeee].sum()

2537.0

In [512]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')
from plotly.graph_objs import *

trace1 = {
  "x": ["No Kids", "One Kid", "Two Kids", "Three Kids","Four Kids","Five Kids","Six Kids"], 
  "y": [zero, one, two, three, four, five, six], 
  "marker": {
    "color": "rgb(158,202,225)", 
    "line": {
      "color": "rgb(8,48,107)", 
      "width": 1.5
    }
  }, 
  "opacity": 0.6, 
  #"text": ["27% market share", "24% market share", "19% market share"], 
  "type": "bar"
}
data = Data([trace1])
layout = {"title": "Mentally Unstable days per Month by Number of Kids for ages 18-50"}
fig = Figure(data=data, layout=layout)
plot_url = py.plot(fig)

In [504]:
#warnings.filterwarnings('ignore')


qhealthzero = nokids['x.educag']
qcolzero = 'x.educag'
qfindNumzero = [9]
qreplaceNumzero =  [4] 
nokids[qcolzero] = nokids[qcolzero].replace(qfindNumzero, qreplaceNumzero)

qhealthone = onekids['x.educag']
qcolone = 'x.educag'
qfindNumone = [9]
qreplaceNumone =  [4] 
onekids[qcolone] = onekids[qcolone].replace(qfindNumone, qreplaceNumone)

qhealthtwo = twokids['x.educag']
qcoltwo = 'x.educag'
qfindNumtwo = [9]
qreplaceNumtwo =  [4] 
twokids[qcoltwo] = twokids[qcoltwo].replace(qfindNumtwo, qreplaceNumtwo)

qhealththree = threekids['x.educag']
qcolthree = 'x.educag'
qfindNumthree = [9]
qreplaceNumthree =  [4] 
threekids[qcolthree] = threekids[qcolthree].replace(qfindNumthree, qreplaceNumthree)

qhealththreee = threekidss['x.educag']
qcolthreee = 'x.educag'
qfindNumthreee = [9]
qreplaceNumthreee =  [4] 
threekidss[qcolthreee] = threekidss[qcolthreee].replace(qfindNumthreee, qreplaceNumthreee)

qhealththreeee = threekidsss['x.educag']
qcolthreeee = 'x.educag'
qfindNumthreeee = [9]
qreplaceNumthreeee =  [4] 
threekidsss[qcolthreeee] = threekidsss[qcolthreeee].replace(qfindNumthreeee, qreplaceNumthreeee)

qhealththreeeee = threekidssss['x.educag']
qcolthreeeee = 'x.educag'
qfindNumthreeeee = [9]
qreplaceNumthreeeee =  [4] 
threekidssss[qcolthreeeee] = threekidssss[qcolthreeeee].replace(qfindNumthreeeee, qreplaceNumthreeeee)


qzero = onekids[qcolone].mean()
qone = onekids[qcolone].mean()
qtwo = twokids[qcoltwo].mean()
qthree = threekids[qcolthree].mean()
qfour = threekidss[qcolthreee].mean()
qfive = threekidsss[qcolthreeee].mean()
qsix = threekidssss[qcolthreeeee].mean()

In [513]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')
from plotly.graph_objs import *

trace1 = {
  "x": ["No Kids", "One Kid", "Two Kids", "Three Kids","Four Kids","Five Kids","Six Kids"], 
  "y": [qzero, qone, qtwo, qthree, qfour, qfive, qsix], 
  "marker": {
    "color": "rgb(158,202,225)", 
    "line": {
      "color": "rgb(8,48,107)", 
      "width": 1.5
    }
  }, 
  "opacity": 0.6, 
  #"text": ["27% market share", "24% market share", "19% market share"], 
  "type": "bar"
}
data = Data([trace1])
layout = {"title": "Highest Education from Kindergarden (1) Through Colledge Graduate (6) Number of Kids for ages 18-50"}
fig = Figure(data=data, layout=layout)
plot_url = py.plot(fig)

In [507]:
kinder = df.loc[df['x.impeduc'] == 1]
kinderin = kinder['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder[colkind] = kinder[colkind].replace(findkind, replacekind)

kinder2 = df.loc[df['x.impeduc'] == 2]
kinderin2 = kinder2['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder2[colkind] = kinder2[colkind].replace(findkind, replacekind)

kinder3 = df.loc[df['x.impeduc'] == 3]
kinderin3 = kinder3['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder3[colkind] = kinder3[colkind].replace(findkind, replacekind)

kinder4 = df.loc[df['x.impeduc'] == 4]
kinderin4 = kinder4['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder4[colkind] = kinder4[colkind].replace(findkind, replacekind)

kinder5 = df.loc[df['x.impeduc'] == 5]
kinderin5 = kinder5['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder5[colkind] = kinder5[colkind].replace(findkind, replacekind)

kinder6 = df.loc[df['x.impeduc'] == 6]
kinderin6 = kinder6['income2']
colkind = 'income2'
findkind = [77,99]
replacekind =  [3,3] 
kinder6[colkind] = kinder6[colkind].replace(findkind, replacekind)

In [511]:
plotly.tools.set_credentials_file(username='jordanvtskier', api_key='VuCAIy0Hf6vbF2jKzmGq')


trace0 = go.Box(
    y=kinder[colkind],
    name = 'No Schooling',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)
trace1 = go.Box(
    y=kinder2[colkind],
    name = 'Elementary',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)

trace2 = go.Box(
    y=kinder3[colkind],
    name = 'Highschool incomplete',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)

trace3 = go.Box(
    y=kinder4[colkind],
    name = 'Highschool',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)

trace4 = go.Box(
    y=kinder5[colkind],
    name = 'College Incomplete',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)

trace5 = go.Box(
    y=kinder6[colkind],
    name = 'College',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)

data = [trace0, trace1, trace2, trace3, trace4, trace5]

layout = go.Layout(
    title = "Income by Highest Level of Education from 10,000 per year (1) to +75,000 (8)"
)

figgg = go.Figure(data=data,layout=layout)
py.iplot(figgg)